
<div class="body" >
      <section class="form-inicio">
        <img src="https://image.flaticon.com/icons/png/512/16/16363.png" width="50px" height="50px" routerLink="/">
        <h3>Inicia sesion</h3>
        <input class="requisito" type="email" name="correoentrada" id="correo" placeholder="Ingrese su correo electronico">
        <input class="requisito" type="password" name="contraentrada" id="contra" placeholder="Ingrese su contraseña">
        <input class="botons" type="submit" value="Iniciar sesion">
        <button class="botons" (click)="signInWithGoogle()">Iniciar sesion con Google  <i class="fab fa-google"></i></button>
        <button class="botons" (click)="signInWithFB()">Iniciar sesion con Facebook  <i class="fab fa-facebook"></i></button>
        <p><a style="text-decoration: none;">¿No tiene una Cuenta? Registrese</a></p>
     
      </section>
      <br>
      
     <br>
</div>
